.cache/
.config/helix/runtime/
.lesshst
.local/share/fish/
.rustup/
.local/share/pnpm/
.state/minio/.minio.sys/buckets/
.state/minio/.minio.sys/format.json
.state/minio/.minio.sys/pool.bin/
.state/minio/.minio.sys/tmp/
.state/services/minio/log/run
.state/services/minio/log/supervise/
.state/services/minio/logs/current
.state/services/minio/logs/lock
.state/services/minio/run
.state/services/minio/supervise/
.state/services/surrealdb/log/run
.state/services/surrealdb/log/supervise/
.state/services/surrealdb/logs/current
.state/services/surrealdb/logs/lock
.state/services/surrealdb/run
.state/services/surrealdb/supervise/
.state/services/surrealdb/logs
.config/manifold/config.toml
.config/go/telemetry
.config/fish/
.state/surrealdb/database.db/
bin/
pkg/
.local/state/yazi
.config/chromium/
.npm/
.pki/
.state/minio/
Artifacts/
Backend/manifold/.idea/
