package adminviews

import "github.com/gofiber/fiber/v2"

templ Infotree(c *fiber.Ctx) {
<div class="flex w-full">
  <div id="info-tree" class="h-full w-full outline outline-1 outline-solid outline-zinc-200">
  </div>
</div>
}
