package adminviews

templ NavItem(text string, target string) {
  <div hx-trigger="click" hx-get={ target } hx-target="#content" hx-swap="innerHtml" class="cursor-pointer flex justify-center items-center px-3 h-full outline outline-1 outline-solid outline-zinc-200">
    { text }
  </div>
}
